.side-bar-container {
    position: fixed;
    left: 0;
    margin-top: 100px;
    background-color:rgb(36, 46, 54);
    height: 100vh;
    width: 200px;
}
.side-bar-item {
    border: none;
    background-color: transparent;
    margin-top: 50px;
}

.side-bar-active {
    color:#f17510;
}
.side-bar-inactive {
    color: white;
}