.side-bar-container {
    position: fixed;
    left: 0;
    margin-top: 100px;
    background-color: blanchedalmond;
    height: 100vh;
    width: 200px;
}
.side-bar-item {
    border: none;
    background-color: transparent;
    margin-top: 50px;
}
.side-bar-item :hover{
    color:red;
}
.side-bar-active {
    color:red;
}
.side-bar-inactive {
    color: blue;
}